extends layout.pug
block scripts
    script(src="//cdn.jsdelivr.net/npm/pouchdb@7.1.1/dist/pouchdb.min.js")
    script(src="/js/db.js")
    script.
        document.addEventListener("DOMContentLoaded", function() {
            // Get the user context
            getUser(function(doc){
                getRooms(function(){
                    //We have a user so see if they have rooms
                });
            });            
        });
        function redirct2room() {
            var room = document.getElementById("room").value;

            //Redirect window using javascript
            window.location.href = "/r/" + room;
        }
    
block content
    .container
        .row.justify-content-sm-center
            .col-12.col-md-8.col-lg-6(style="margin-top:50px;")
                h1 Welcome to Chatlooly
                p Chatlooly is a very simple chat application that is 100% anonymous 
                    | and has no long term memory. Like real life, when you leave a room everything 
                    | that was said is left only in the memory of those who were there.
                
                br
                p Username:
                    span.username
                form(method="POST")
                h4 Room Name
                input(type="text" placeholder="Room" name="room" id="room")
                button(onclick="redirct2room()" ) Go